* {
	margin: 0px;
	padding: 0px;
	font-family: verdana;
	overflow: hidden;
}

h1 {
	text-align: center;
}

#header {
	width: 100%;
	height: 8vh;
	background-color: whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}

#workspace {
	width: 100%;
	height: 72vh;
	background-color: bisque;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

svg {
	width: 100%;
	height: 100%;

}

#interface {
	width: 100%;
	height: 20vh;
	background-color: whitesmoke;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

button {
	width: 250px;
	height: 100px;
	font-size: 150%;
	color: black;
	background-color: bisque;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	margin-left: 10px;
}
